<ion-header>
  <ion-navbar>
    <ion-title>
      Catering
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div ion-fixed style="width: 100%;">
        <ion-segment [(ngModel)]='selectedTab'>
            <ion-segment-button value='Combos' class="menu-tab" (click)="showExtraInfo = false">
              Combos
            </ion-segment-button>
            <ion-segment-button value ='Salads' (click)="showExtraInfo = false">
              Salads
            </ion-segment-button>
          </ion-segment>
      </div>
      <br>
  <div [ngSwitch]='selectedTab'>
    <div *ngSwitchCase="'Combos'" class="selected-menu-tab">
        <ion-grid class="header-grid">
            <ion-row>
              <ion-col col-9>
                <h6>Combos</h6>
              </ion-col>
              <ion-col col-3>
                <button ion-button (click)="openWithSystemBrowser('https://www.ezcater.com/catering/pvt/terrazu-new-orleans?fcv=1')">
                  Order Now
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
            <div *ngFor="let combo of cateringCombos">
                  <div class="list-item">
                  <h5 (click)="combo.clicked = !combo.clicked">{{combo.name}}</h5>
                  <div *ngIf="combo.clicked">
                    <h6>{{combo.price}}</h6>
                    <p class="overflow">{{combo.description}}</p>
                  </div>
            </div>
        </div>
    </div>
    </div>
</ion-content>
