page-home {

    .content {
        background-color: #FCFCFC;
    }

    .header .header-ios {
        background: color($colors, primary);
    }

    .toolbar-title {
        color: color($colors, primary);
        text-align: center;
    }

    .welcome-header {
        text-align: center;
    }

    .welcome-header img {
        display: block;
        margin: auto;
        position: relative;
        border-bottom: 2px solid color($colors, primary);
        border-top: 2px solid color($colors, primary);
    }

    .welcome-header h2 {
        color: white;
        position: absolute;
        margin-top: -4.5em;
        font-size: 3em;
        text-shadow: 2px 2px black;
    }

    .welcome-header h3 {
        color: color($colors, primary);
        font-size: 1.75rem;
        margin: .75em;
    }

    .content-md{
        .segment-md {
            height: 4rem;
        }

        .header-grid h6{
            padding-top: 10px;
        }
    }


    .selected-menu-tab {
        margin-top: 1.5rem;
    }

    .segment-ios .segment-button {
        color: color($colors, primary);
        background-color: white;
    }

    .info-text{
        overflow-wrap: break-word;
        white-space: normal;
        color: gray;

        table {
         text-align: left; 
         padding: 0, 8px, 0, 8px;
        }

        th {
         color: color($colors, primary); 
        }

        label {
            font-size: 1.5em;
            padding: 8px;
        }
    }
    h6 {
        margin: 0;
        color: color($colors, primary);

    }

    .home-footer {
        text-align: center;
        width: 100%;
        button {
            margin-top: 12px;
            width: 20%;
            font-size: 1.5em;
            height: 10%;
        }
    }

    .list-item {
        border-bottom: 0.55px solid color($colors, primary);
        padding: 0 12px 0 12px;

        h5 {
            margin: .5em 0 .5em 0;
            font-weight: 300;
            font-family: Verdana, Geneva, sans-serif;         
        }
        
    }

    .header-grid {
        border-bottom: 0.55px solid color($colors, primary);
        h6 {
            font-size: 2em;
            padding-top: 3px;
        }

        button {
            font-size: .75em;
            width: 100%;
        }
    }

    ul {
        margin: 2px;
        list-style-type: none;
        padding: 12px;
    }
}

