page-menu {

    .header .header-ios {
        background: color($colors, primary);
    }

    .toolbar-title {
        color: color($colors, primary);
        text-align: center;
    }

    ion-segment {
        height: 3rem;
        margin: 0px;
        position: fixed;

    }

    .content-md{
        .segment-md {
            height: 4rem;
        }

        .header-grid h6{
            padding-top: 10px;
        }
    }


    .selected-menu-tab {
        margin-top: 1.5rem;
    }

    .segment-ios .segment-button {
        color: color($colors, primary);
        background-color: white;
    }

    .overflow{
        overflow-wrap: break-word;
        white-space: normal;
        color: gray;
        margin: .5em 0 1em 0;
    }
    h6 {
        margin: 0;
        color: color($colors, primary);

    }

    .list-item {
        border-bottom: 0.55px solid color($colors, primary);
        padding: 0 12px 0 12px;

        h5 {
            margin: .5em 0 .5em 0;
            font-weight: 300;
            font-family: Verdana, Geneva, sans-serif;         
        }
        
    }

    .header-grid {
        border-bottom: 0.55px solid color($colors, primary);
        h6 {
            font-size: 2em;
            padding-top: 3px;
        }

        button {
            font-size: .75em;
            width: 100%;
        }
    }

    ul {
        list-style-type: none;
        padding: 0 8px 0 8px;
    }
}
