<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div ion-fixed style="width: 100%;">
    <ion-segment [(ngModel)]='selectedTab'>
        <ion-segment-button value='Beverages' class="menu-tab" (click)="showExtraInfo = false">
          Beverages
        </ion-segment-button>
        <ion-segment-button value ='Salads' (click)="showExtraInfo = false">
          Salads
        </ion-segment-button>
        <ion-segment-button value ='Sandwiches' (click)="showExtraInfo = false">
          Sandwiches
          </ion-segment-button>
      </ion-segment>
  </div>
  <br>
  <div [ngSwitch]='selectedTab'>
    <div *ngSwitchCase="'Beverages'" class="selected-menu-tab">
        <ion-grid class="header-grid">
            <ion-row>
              <ion-col col-9>
                <h6>Hot Drinks</h6>
              </ion-col>
              <ion-col col-3>
                <button ion-button (click)="showExtraInfo = !showExtraInfo">
                  More Info
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="list-item" *ngIf="showExtraInfo">
                <p class="overflow"><strong>Add a flavor for $.60:</strong> Dark Chocolate, White Chocolate, 
                Vanilla Hazelnut, Caramel, Irish Cream, Raspberry, Cinnamon Gingerbread, & Amaretto</p>
                <p class="overflow"><strong>Sugar Free Flavors:</strong> Vanilla, Hazelnut, Caramel, & Chocolate</p>
                <p class="overflow"><strong>Add Soymilk, Whipped Cream, or Flavorshot for $.60!</strong></p>
          </div>
            <div *ngFor="let beverage of allBeverages">
                  <div *ngIf="beverage.type==='Hot'" class="list-item">
                  <h5 (click)="beverage.clicked = !beverage.clicked">{{beverage.name}}</h5>
                  <div *ngIf="beverage.clicked">
                    <h6>Sm: {{beverage.priceSmall}}&emsp;Med: {{beverage.priceMedium}}&emsp;Lg: {{beverage.priceLarge}}</h6>
                    <p class="overflow">{{beverage.description}}</p>
                  </div>
            </div>
        </div>
        <ion-grid class="header-grid">
          <ion-row>
            <ion-col col-9>
              <h6>Cold Drinks</h6>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="list-item" *ngIf="showExtraInfo">
              <p class="overflow"></p>
        </div>
          <div *ngFor="let beverage of allBeverages">
                <div *ngIf="beverage.type==='Cold'" class="list-item">
                <h5 (click)="beverage.clicked = !beverage.clicked">{{beverage.name}}</h5>
                <div *ngIf="beverage.clicked">
                  <h6>Sm: {{beverage.priceSmall}}&emsp;Med: {{beverage.priceMedium}}&emsp;Lg: {{beverage.priceLarge}}</h6>
                  <p class="overflow">{{beverage.description}}</p>
                </div>
          </div>
      </div>
      <ion-grid class="header-grid">
        <ion-row>
          <ion-col col-9>
            <h6>Frozen Drinks</h6>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="list-item" *ngIf="showExtraInfo">
            <p class="overflow"></p>
      </div>
        <div *ngFor="let beverage of allBeverages">
              <div *ngIf="beverage.type==='Frozen'" class="list-item">
              <h5 (click)="beverage.clicked = !beverage.clicked">{{beverage.name}}</h5>
              <div *ngIf="beverage.clicked">
                <h6>Sm: {{beverage.priceSmall}}&emsp;Med: {{beverage.priceMedium}}&emsp;Lg: {{beverage.priceLarge}}</h6>
                <p class="overflow">{{beverage.description}}</p>
              </div>
        </div>
    </div>
    </div>
    <div *ngSwitchCase="'Salads'" class="selected-menu-tab">
      <ion-grid class="header-grid">
        <ion-row>
          <ion-col col-9>
            <h6>Salads</h6>
          </ion-col>
          <ion-col col-3>
            <button ion-button (click)="showExtraInfo = !showExtraInfo">
              More Info
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="list-item" *ngIf="showExtraInfo">
            <p class="overflow">Served with herbed pita croutons and homemade dressing.</p>
            <p class="overflow"><strong>Our fresh house made dressings include:</strong>
                tarragon vinaigrette, pepper jelly vinaigrette, lemon vinaigrette, 
                sesame ginger vinaigrette, creamy blue cheese, buttermilk ranch, 
                honey dijon and a simple balsamic vinaigrette.</p>
      </div>
        <div *ngFor="let salad of allSalads">
              <div class="list-item">
              <h5 (click)="salad.clicked = !salad.clicked">{{salad.name}}</h5>
              <div *ngIf="salad.clicked">
                <h6>{{salad.price}}</h6>
                <p class="overflow">{{salad.description}}</p>
              </div>
        </div>
    </div>
  </div>

  <div *ngSwitchCase="'Sandwiches'" class="selected-menu-tab">
      <ion-grid class="header-grid">
        <ion-row>
          <ion-col col-9>
            <h6>Sandwiches</h6>
          </ion-col>
          <ion-col col-3>
            <button ion-button (click)="showExtraInfo = !showExtraInfo">
              More Info
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="list-item" *ngIf="showExtraInfo">
            <p class="overflow">Served with Terrazu’s Sesame Ginger Coleslaw and Chips</p>
            <h6>Deli Meats:</h6>
            <ul class="overflow">
              <li>Honey Smoked Turkey</li>
              <li>Virginia Pit Ham</li>
              <li>Medium Rare Roast Beef</li>
              <li>Pastrami</li>
              <li>Grilled Chicken Breast</li>
              <li>Hummus</li>
              <li>Chicken, Tuna, & Shrimp Salads</li>
            </ul>
            <h6>Deli Cheese:</h6>
            <ul class="overflow">
              <li>Aged Swiss</li>
              <li>Sharp Cheddar</li>
              <li>Fresh Mozzarella</li>
              <li>Spicy Pimento Spread</li>
              <li>Fontina</li>
            </ul>
      </div>
        <div *ngFor="let sandwich of allSandwiches">
              <div class="list-item">
              <h5 (click)="sandwich.clicked = !sandwich.clicked">{{sandwich.name}}</h5>
              <div *ngIf="sandwich.clicked">
                <h6>{{sandwich.price}}</h6>
                <p class="overflow">{{sandwich.description}}</p>
              </div>
            </div>
       </div>
    </div>

  </div>
</ion-content>