<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div ion-fixed style="width: 100%;">
    <ion-segment [(ngModel)]='selectedTab'>
        <ion-segment-button value='Drinks' class="menu-tab">
          Drinks
        </ion-segment-button>
        <ion-segment-button value = 'Salads'>
          Salads
        </ion-segment-button>
        <ion-segment-button value = 'Sandwiches'>
          Sandwiches
          </ion-segment-button>
      </ion-segment>
  </div>

  <div [ngSwitch]='selectedTab'>
    <div *ngSwitchCase="'Drinks'" class="selected-menu-tab">
        <ion-list *ngFor="let drink of allDrinks">
            <ion-item>{{drink.name}}</ion-item>
          </ion-list>
    </div>
    <div *ngSwitchCase="'Salads'" class="selected-menu-tab">
        <div *ngFor="let salad of allSalads">
              <div class="list-item">
              <h5 (click)="salad.clicked = !salad.clicked">{{salad.name | uppercase}}</h5>
              <div *ngIf="salad.clicked">
                <h6>{{salad.price}}</h6>
                <p class="overflow">{{salad.description}}</p>
              </div>
        </div>
    </div>



</div>
  </div>
</ion-content>
